---
import BaseLayout from '../layouts/BaseLayout.astro';
const PageTitle = 'Acedelectrical - Service';
import '../styles/global.css';


---

<BaseLayout PageTitle={PageTitle}>
	<h1 class="base-heading">{PageTitle}</h1>
</BaseLayout>
