---

---

<header>
    <div class="container">
        <a class="logo" href="/"> <svg><!-- SVG Logo goes here --></svg></a>
        <nav>
            <a href="/">Home</a>
            <a href="/services">Services</a>
        </nav>
    </div>
</header>
